<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa2 md:pa3 db mr4 h-100 w3 md:w5 flex-none">
		<img src="/img/thaiyom-logo-horizontal-black-yellow.svg" alt="Thaiyom logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3 sm:hidden">
		<li><a href="/massages" class="pa2 md:pa3 no-underline db link">Treatments</a></li>

		<li><a href="/benefits" class="pa2 md:pa3 no-underline db link">Benefits</a></li>

		<li><a href="/post" class="pa2 md:pa3 no-underline db link">Blog</a></li>

		<li><a href="/contact" class="pa2 md:pa3 no-underline db link">Contact</a></li>
	</ul>

</nav>


