img {
  max-width: 100%;
}

/* Remove border-radiius from full-width images */
img:not(.w-100) {
  xborder-radius: var(--border-radius);
}

.photoimg{
  filter: drop-shadow(8px 8px 10px gray);
  border: 15px solid #ffffff;
}
.eqimgs{
  width: 450px;
  height: 337px;
  object-fit: cover;
}
