img {
  max-width: 100%;
}

/* Remove border-radiius from full-width images */
img:not(.w-100) {
  border-radius: var(--border-radius);
}

.eqimgs{
  width: 500px;
  height: 375px;
  object-fit: cover;
}
