
      body{font-size:1rem;font-family:ubuntu;}
      form input{background-color: #eec04034;}
      form input[type=text], form input[type=email], form input[type=date] {height: 2rem;font-size: 1.2rem;}
       form input[type=text] {width: 100%;}
       form input[type=checkbox] {width: 24px;height:24px;}
      textarea{font-size: 1.2rem;width: 100%;}
      label{display:inline-block;padding: 4px; color: #eebf40;}
      #conditions ul{
        display:flex;
        flex-wrap: wrap;
      }
      #conditions ul li{
        list-style: none;
        display: inline-block;
        width: calc(100% / 4);
        height: 40px;
      }
      .flex2wide{display:flex;}
      .flex2wide .item{display:inline;align-content: space-around;flex-wrap: wrap;min-width: calc(100% / 2);}
      #theform{margin-top: 8px;}
      ul#agree{list-style-type: disc;}
      ul#agree li{font-size: 0.7rem;}
