{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}


<div class="mw7 center ph3 pt4">
  <h1 class="f3 b lh-title mb2">{{ .Title }}</h1>
  <div class="flex-m items-center mhn3-m mb4">

  </div>
  {{ range .Params.sections }}
  <div class="mw7 center ph3 pt4">
    <h2 class="f3 b lh-title mb2">{{ .subhead }}</h2>
    <div class="flex-m items-center mhn3-m mb4">
      <div class="ph3-m w-100-m">
        <p class="mw8">{{ .text | markdownify }}</p>
      </div>
    </div>
  
  
  </div>
  {{ end }}

</div>

{{ end }}