{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}


<div class="mw7 center ph3 pt4">
  <h1 class="f3 b lh-title mb2">{{ .Title }}</h1>
  <div class="flex-m mhn3-m mb4">
    <div class="ph3-m w-100-m">
      <p class="mw8">{{ Params.intro }}</p>
    </div>
  </div>
  {{ range $index, $element := .Params.benefits }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}

</div>

{{ end }}
