{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ with .Params.main }}
<div class="pv4">
<div class="mw7 center">
  <div class="xph3 xmb3">
    
    <h1 class="f1 b lh-title mb2">{{ .heading }}</h1>
    <p class="mw8">{{ .description }}</p>
  </div>
</div>
</div>
{{ end }}

<!-- Full-width image 
<img src="{{ .Params.full_image }}" alt="" class="db w-100">
-->
{{ partial "table" .Params.pricing }}


<!-- Image grid 
{{ with .Params.main }}
{{ partial "image-grid" . }}
{{ end }}
-->

<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<!--
{{ partial "4-up" .Params.intro }}
-->

{{ end }}
